@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-webkit-keyframes fadeOut { from { opacity: 1; } to { opacity: 0; } }
@keyframes fadeOut { from { opacity: 1; } to { opacity: 0; } }
html { overflow: scroll; overflow-x: hidden; height: 100%; width: 100%; }
body::-webkit-scrollbar { width: 0px; background: transparent; }
.slider-navigation-previous, .slider-navigation-next { display: none; }
.white { color: white; }
.card-content-scrollable {
    height: 320px;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
}
.hidden { display: none; }
#tableDaftarTamu {
    margin-bottom: 0;
}
th.has-text-centered {
	vertical-align: middle;
}
a, span, button, i, input {
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
i.is-dark {
	color: #363636;
}